In [95]:
import pandas as pd

1. Прочитайте csv файл (метод read_csv)

In [96]:
df = pd.read_csv("2.csv", encoding='latin1')

2. Виведіть перші 10 рядків (метод head)

In [97]:
print(df.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

3. Виведіть розміри датасету (метод shape)

In [98]:
print(df.shape)

(550, 7)

Питання: Про скільки книг зберігає дані датасет?

In [99]:
num_books = df.shape[0]
print("Кількість книг в датасеті:", num_books)

Кількість книг в датасеті: 550

4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [100]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

5. Вивести кількість пропусків у кожному стовпчику.

In [101]:
missing_values = df.isnull().sum()
print(missing_values)

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64

Питання : Чи є в якихось змінних пропуски? (Так / ні)

In [102]:
print("Чи є в якихось змінних пропуски? (Так / ні):", "Так" if missing_values.any() else "Ні")

Чи є в якихось змінних пропуски? (Так / ні): Ні

6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre 
Питання : Які є унікальні жанри?

In [103]:
unique_genres = df['genre'].unique()
print("Унікальні жанри:", unique_genres)

Унікальні жанри: ['Non Fiction' 'Fiction']

7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median 

Питання: Максимальна ціна? 

Питання: Мінімальна ціна? 

Питання: Середня ціна? 

Питання: Медіанна ціна?

In [104]:
max_price = df['price'].max()
min_price = df['price'].min()
mean_price = df['price'].mean()
median_price = df['price'].median()
print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

Виконайте наступні завдання з пошуку і сортування даних 

Питання: Який рейтинг у датасеті найвищий?  

Питання: Скільки книг мають такий рейтинг?  

Питання: Яка книга має найбільше відгуків?  

Питання: З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча ? 

Питання : Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році  

Питання : Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?

In [105]:
max_rating = df['user_rating'].max()
print("Найвищий рейтинг:", max_rating)

num_books_with_max_rating = (df['user_rating'] == max_rating).sum()
print("Кількість книг з найвищим рейтингом:", num_books_with_max_rating)

book_with_most_reviews = df[df['reviews'] == df['reviews'].max()]['name'].values[0]
print("Книга з найбільшою кількістю відгуків:", book_with_most_reviews)

max_price_2010 = df[df['year'] == 2010]['price'].max()
most_expensive_book_2010 = df[(df['year'] == 2010) & (df['price'] == max_price_2010)]['name'].values[0]
print("Найдорожча книга, що потрапила до Топ-50 у 2010 році:", most_expensive_book_2010)

num_fiction_books_2012 = df[(df['year'] == 2012) & (df['genre'] == 'Fiction')].shape[0]
print("Кількість книг жанру Fiction, що потрапили до Топ-50 у 2012 році:", num_fiction_books_2012)

num_4_9_rating_2010_2011 = df[(df['user_rating'] == 4.9) & ((df['year'] == 2010) | (df['year'] == 2011))].shape[0]
print("Кількість книг з рейтингом 4.9, що потрапили до рейтингу у 2010 та 2011 роках:", num_4_9_rating_2010_2011)

Найвищий рейтинг: 4.9
Кількість книг з найвищим рейтингом: 52
Книга з найбільшою кількістю відгуків: Where the Crawdads Sing
Найдорожча книга, що потрапила до Топ-50 у 2010 році: Publication Manual of the American Psychological Association, 6th Edition
Кількість книг жанру Fiction, що потрапили до Топ-50 у 2012 році: 21
Кількість книг з рейтингом 4.9, що потрапили до рейтингу у 2010 та 2011 роках: 1

9. Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

In [106]:
grouped = df.groupby('genre')['price'].agg(['min', 'max'])
print("Мінімальна і максимальна ціни для жанрів Fiction і NonFiction:")
print(grouped)

Мінімальна і максимальна ціни для жанрів Fiction і NonFiction:
             min  max
genre
Fiction        0   82
Non Fiction    0  105